.dark * {
  background-color: black;
  color: white;
}

.light * {
  background-color: white;
  color: black;
}

.dark > * {
  color: white;
}

.light > * {
  background-color: white;
  color: black;
}

.rowStyle {
  margin-top: 0.2rem;
}

.headerStyle {
  text-align: center;
  margin-top: 0.5rem;
}

.tableStyle {
  margin-top: 0.2rem;
}
